:root {
  --menu-buttons-font-family: "Poppins", sans-serif;
  --headings-text-font-family: "Raleway", sans-serif;
  --primary-color: #2b333e;
  --baby-blue: #dae4e2;
  --light-pink: rgba(238, 171, 162, 0.5);
}
html,
body {
  overflow-x: hidden;
}
h1,
h2,
p {
  font-family: var(--headings-text-font-family);
  color: var(--primary-color);
}
p {
  font-size: 36px;
  font-weight: regular;
}

h1 {
  font-size: 96px;
  margin-top: 30px;
  margin-bottom: 60px;
  line-height: 112.7px;
}

h2 {
  font-size: 22px;
  line-height: 28px;
}

.first-row {
  max-width: 100%;
  margin: auto;
}
.welcome-section {
  background-color: var(--baby-blue);

  padding-top: 170px;
  padding-bottom: 90px;
}

.logo-items {
  display: flex;
  flex-direction: column;
}
.logo-items .icons {
  font-size: 40px;
  margin-top: 40px;
}
.greeting {
  margin-bottom: 0;
  line-height: 42.26px;
}
.detailed-info {
  display: inline-flex;
}
.right-info {
  margin-top: 13px;
}
.about-button {
  background-color: var(--primary-color);
  color: #ffffffff;
  font-size: 18px;
  font-family: var(--menu-buttons-font-family);
  font-weight: bold;
  padding: 18px 55px;
  border-radius: 8px;
  margin-top: 70px;
  line-height: 27px;
}
.about-button:hover {
  color: var(--light-pink);

  background-color: var(--primary-color);
}
.second-row {
  background-color: var(--light-pink);
  max-width: 100%;
  padding: 50px 0;
}
.project-heading {
  font-size: 36px;
  color: var(--primary-color);
  line-height: 42px;
}
.project-grid {
  margin-left: 65px;
}

.project-images {
  max-width: 85%;
  border-radius: 10px;
}
.project-buttons {
  background-color: var(--primary-color);
  color: #ffffffff;
  font-size: 14px;
  font-family: var(--menu-buttons-font-family);
  font-weight: bold;
  padding: 11px 34px;
  border-radius: 8px;
  margin-top: 30px;
  line-height: 20px;
  margin-left: 10px;
}
.project-buttons:hover {
  color: var(--light-pink);
}

@media (max-width: 576px) {
  h1 {
    font-size: 62px;
    line-height: 1.25;
  }

  .logo-items {
    display: none;
  }
  h2 {
    font-size: 18px;
    line-height: 1.5;
  }
  .about-button {
    font-size: 14px;
    padding: 9px 27px;
    border-radius: 8px;
    margin-top: 35px;
    line-height: 27px;
  }

  .welcome-section {
    padding: 70px 0;
  }

  .second-row {
    padding: 20px;
  }
  .project-grid {
    margin: 0;
    text-align: center;
  }
  .project-buttons {
    display: block;
    max-width: fit-content;
    font-size: 14px;
    font-family: var(--menu-buttons-font-family);
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 8px;
    margin: 20px auto;
    line-height: 1.5;
  }

  .source-button {
    display: none;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 68px;
    line-height: 2;
  }

  h2 {
    font-size: 22px;
    line-height: 27px;
  }
  .about-button {
    font-size: 14px;
    padding: 9px 27px;
    border-radius: 8px;
    margin-top: 35px;
    line-height: 27px;
  }

  .welcome-section {
    padding: 70px 0;
  }

  .second-row {
    padding: 20px;
  }
  .project-grid {
    margin: 20px auto;
    text-align: center;
  }
  .project-buttons {
    font-size: 14px;
    font-family: var(--menu-buttons-font-family);
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 8px;
    line-height: 1.5;
  }
  .project-2 {
    width: 618px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .project-grid {
    margin: 50px;
  }
  .project-images {
    max-width: 95%;
  }
  .project-buttons {
    font-size: 10px;
    font-family: var(--menu-buttons-font-family);
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 8px;
    line-height: 1.5;
    margin-top: 20px;
  }
}

/* about page */
.about-heading {
  font-size: 72px;
}

.about-section {
  background-color: var(--baby-blue);
  max-width: 100%;
  text-align: center;
  padding: 70px 0;
}

.about-description {
  font-size: 32px;
  line-height: 38px;
  font-family: var(--headings-text-font-family);
  font-weight: 500;
  text-align: left;
  max-width: 530px;
  margin-left: 310px;
}
.profile-image {
  max-width: 200px;
  border-radius: 20px;
  margin-top: 30px;
}

.about-icons {
  font-size: 40px;
  margin-top: 40px;
}
.about-logo-items {
  display: flex;
  flex-direction: column;
  margin-top: -70px;
}

.contact-button {
  background-color: var(--primary-color);
  color: #ffffffff;
  font-size: 18px;
  font-family: var(--menu-buttons-font-family);
  font-weight: bold;
  padding: 22px;
  border-radius: 8px;
  margin: 45px auto 0;
  line-height: 27px;
  max-width: 200px;
}
.contact-button:hover {
  color: var(--light-pink);

  background-color: var(--primary-color);
}
.skills-section {
  background-color: var(--light-pink);
  max-width: 100%;
  text-align: center;
  padding: 70px;
}

.skills-heading {
  font-size: 36px;
  font-family: var(--headings-text-font-family);
  font-weight: 600;
}

.html-css-js-img {
  max-width: 250px;
  margin-top: 30px;
}
.boot-icon {
  color: #5b269d;
  font-size: 50px;
}
.vs-img {
  max-width: 45px;
}
.git-icon {
  font-size: 60px;
}
.figma-img {
  max-width: 50px;
}
.invision-img {
  max-width: 45px;
}
.github-icon {
  font-size: 50px;
}
.responsive-img {
  margin-top: 38px;
  max-width: 250px;
}
.api-img {
  max-width: 50px;
}
.seo-img {
  max-width: 400px;
  margin-left: -67px;
  margin-top: -15px;
}
.hosting-img {
  max-width: 300px;
  margin-top: -40px;
  margin-left: -20px;
}
.netlify-img {
  max-width: 50px;
}
.eight-icons {
  margin: 190px auto;
}
/* for mobile phones */
@media (max-width: 576px) {
  .about-logo-items {
    display: none;
  }
  .about-heading {
    font-size: 45px;
  }
  .about-section {
    padding: 20px 0 50px;
  }
  .about-description {
    font-size: 16px;
    line-height: 1.5;
    max-width: 225px;
    margin-left: 15px;
  }
  .profile-image {
    max-width: 120px;
    border-radius: 20px;
    margin-top: 15px;
  }
  .contact-button {
    font-size: 14px;
    font-family: var(--menu-buttons-font-family);
    font-weight: bold;
    padding: 15px 25px;
    max-width: 160px;
    line-height: 1.5;
    margin: 10px 0 0 150px;
  }

  .html-css-js-img {
    margin-top: 50px;
  }

  .seo-img {
    margin-left: -59px;
  }
  .eight-icons {
    margin: 20px auto;
  }
  .first-row-icons {
    margin-bottom: 40px;
  }
  .hosting-img {
    margin-top: 10px;
  }
}
/* for very small screens */
@media (max-width: 375px) {
  .profile-image {
    max-width: 90px;
  }
  .about-description {
    font-size: 14px;
    line-height: 18px;
    max-width: 160px;
    margin-left: 28px;
  }
  .about-heading {
    margin: 0 auto 20px;
  }
  .contact-button {
    margin: 20px 0 0 108px;
    font-size: 12px;
    padding: 12px 25px;
    max-width: 125px;
  }
  .html-css-js-img {
    padding: 0;
    margin-left: -30px;
  }
  .seo-img {
    margin-left: -106px;
  }
  .first-row-icons {
    padding: 5px;
  }
  .small-mobile {
    padding: 7px;
  }
  .api-img {
    margin-bottom: 10px;
  }
  .hosting-img {
    margin-left: -62px;
  }
  .responsive-img {
    margin-left: -30px;
  }
}
/* for tablets */
@media (min-width: 577px) and (max-width: 768px) {
  .about-logo-items {
    margin-left: 30px;
  }

  .about-description {
    font-size: 20px;
    line-height: 1.5;
    max-width: 245px;
    margin-left: 65px;
  }
  .profile-image {
    max-width: 120px;
    border-radius: 20px;
    margin-top: 15px;
  }
  .profile-image {
    max-width: 200px;
    border-radius: 20px;
    margin-top: 30px;
  }
  .html-css-js-img {
    margin-top: 50px;
  }
  .seo-img {
    margin: 0;
  }
  .first-row {
    margin-bottom: 50px;
  }
  .third-row-icons {
    margin-left: 165px;
  }
  .eight-icons {
    margin: 0 auto 80px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .about-logo-items {
    margin-left: 25px;
  }
  .about-description {
    margin-left: 150px;
    font-size: 26px;
    line-height: 36px;
  }
  .profile-image {
    margin-left: 65px;
  }
  .icons-large {
    margin-left: -40px;
  }
  .eight-icons {
    margin-left: 30px;
  }
  .seo-img {
    margin-left: -77px;
    margin-top: 10px;
  }
  .responsive-img {
    margin-top: 55px;
  }
}
