:root {
  --menu-buttons-font-family: "Poppins", sans-serif;
  --headings-text-font-family: "Raleway", sans-serif;
}
h1,
h2,
p {
  font-family: var(--headings-text-font-family);
  color: #2b333e;
}
p {
  font-size: 36px;
  font-weight: regular;
}

h1 {
  font-size: 96px;
  margin-top: 30px;
  margin-bottom: 60px;
  line-height: 112.7px;
}

h2 {
  font-size: 22px;
  line-height: 28px;
}

.welcome-section {
  text-align: center;
  background-color: #dae4e2;
  display: flex;
  padding-top: 170px;
  padding-bottom: 90px;
}
.intro {
  text-align: center;
}

.logo-items {
  display: flex;
  flex-direction: column;
}
.logo-items .icons {
  font-size: 40px;
  margin-top: 40px;
}
.greeting {
  margin-bottom: 0;
  line-height: 42.26px;
}
.detailed-info {
  display: inline-flex;
}
.right-info {
  margin-top: 13px;
}
.about-button {
  background-color: #2b333e;
  color: #ffffffff;
  font-size: 18px;
  font-family: var(--menu-buttons-font-family);
  font-weight: bold;
  padding: 18px 55px;
  border-radius: 8px;
  margin-top: 70px;
  line-height: 27px;
}
.about-button:hover {
  color: #eeaba2;

  background-color: #2b333e;
}
